#map {
  height: 70vh;
  width: 100%;
}
#controls {
  padding: 8px;
}
#toggles {
  margin-top: 10px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 6px;
}
.area-item {
  cursor: pointer;
  margin: 6px 0;
}
.area-toggle {
  margin: 2px;
  padding: 6px 12px;
  cursor: pointer;
}
